name: Build Compatible APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Linux Parçaları (Hata almamak için şart)
      - name: Install Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libblkid-dev pkg-config ninja-build

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # 2. Flet 0.22.1 Yüklemesi
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install cookiecutter packaging

      # 3. FLUTTER 3.19.0 (İŞTE ÇÖZÜM BURASI!)
      # Flet 0.22.1 sadece bu eski Flutter sürümleriyle çalışır.
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      # 4. APK Derleme
      - name: Build APK
        run: |
          yes | flet build apk --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: KPSS-UYUMLU-APK
          path: build/apk/app-release.apk
